assets
bin
gen
obj
local.properties
proguard-project.txt
.classpath
.cproject
.settings
.project

*.a
*.so
*.c
*.h
*.cpp

jni/SDL
jni/deadlogger/*
jni/dye/*
jni/sdl2/*
jni/stbi/*
jni/swoon/*
jni/sdk/*
jni/chipmunk/*

jni/gc/*
jni/libchipmunk/*

!res/*/*.xml
